body {  background-color:	#FFFFFF;
margin: 0 10%;
font-family: sans-serif;  }
h1 {  text-align: center;  font-family: serif;
font-weight: normal;  text-transform: uppercase;
border-bottom: 1px solid #A8189F;  margin-top: 30px;}

  h2 {  color: #A8189F;  font-size: 1em;}
    .topnav
    {overflow: hidden;background-color: #F5A2EF;}
    .topnav a
    {float: left; color: #FFFFFF; text-align: center;
    padding: 14px 16px; text-decoration: none;font-size: 17px;}
    .topnav a:hover
    {background-color: ##F5A2EF; color: #A8189F;}
    .topnav a.active
    {background-color: #FFFFFF; color:#A8189F;}
    footer {border-top:1px solid ##F5A2EF; text-align:center; padding-top: 1em; }
    footer img {width:40px; height:40px; margin-left:.5em; margin-right: .5em;}: .5em;}
